.navbar{
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid black;
  background-color: rgb(21,21,21);
  padding:10px 0px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}
.transparent{
  background: none !important;
  background-color: none !important; 
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight:300;
}
.center-align{
  text-align:center !important;
}
.emphasis{
  text-shadow:0px 0px 3px rgba(0,0,0,0.3);
}
.color-white{
  color: white !important;
}
.form-control-special{
  background-color: none;
  color:white;
  font-size: 35px;
  border:2px solid white;
  background: transparent;;
  
}
