---
http_interactions:
- request:
    method: get
    uri: https://api.zomato.com/v1/cities?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Zomato-Api-Key:
      - 7749b19667964b87a3efc739e254ada2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"cities":[{"city":{"id":11,"name":"Ahmedabad","has_nightlife":0,"latitude":"23.0426620000","longitude":"72.5667290000","has_events":0,"has_cafes":0,"has_takeaway":0,"currency":"Rs.","country_id":1,"country_name":"India","use_miles":0,"show_zones":0,"citibank_discount":0,"cft_ranges":"{\"1\":{\"label\":\"0
        - 500\",\"min\":0,\"max\":500},\"2\":{\"label\":\"500 - 1000\",\"min\":500,\"max\":1000},\"3\":{\"label\":\"1000
        - 2000\",\"min\":1000,\"max\":2000},\"4\":{\"label\":\"2000 +\",\"min\":2000,\"max\":500000}}","filter_veg":1,"filter_credit_cards":1,"filter_buffet":1,"filter_happy_hours":0,"filter_wifi":1,"filter_breakfast":1,"filter_bar":0,"filter_no_bar":0,"filter_live_music":0,"filter_has_events":1,"filter_sheesha":0,"filter_outdoor_seating":1,"filter_halal":0,"filter_45_star":1,"filter_open_at":1,"filter_serves_veg":0,"filter_sports_bar":0}},{"city":{"id":4,"name":"Bangalore","has_nightlife":1,"latitude":"12.9716060000","longitude":"77.5943760000","has_events":0,"has_cafes":1,"has_takeaway":0,"currency":"Rs.","country_id":1,"country_name":"India","use_miles":0,"show_zones":0,"citibank_discount":1,"cft_ranges":"{\"1\":{\"label\":\"0
        - 500\",\"min\":0,\"max\":500},\"2\":{\"label\":\"500 - 1000\",\"min\":500,\"max\":1000},\"3\":{\"label\":\"1000
        - 2000\",\"min\":1000,\"max\":2000},\"4\":{\"label\":\"2000 +\",\"min\"[...]
