---
http_interactions:
- request:
    method: get
    uri: https://api.zomato.com/v1/subzones?city_id=7&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Zomato-Api-Key:
      - 7749b19667964b87a3efc739e254ada2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"subzones":[{"subzone":{"subzone_id":6101,"name":"Abhiramapuram","zone_id":6200,"city_id":"7","latitude":"13.0324880000","longitude":"80.2584740000","real_city_name":"Chennai","locality_name":"Abhiramapuram"}},{"subzone":{"subzone_id":6201,"name":"Adambakkam","zone_id":6100,"city_id":"7","latitude":"12.9925150000","longitude":"80.2013970000","real_city_name":"Chennai","locality_name":"Adambakkam"}},{"subzone":{"subzone_id":6102,"name":"Adyar","zone_id":6100,"city_id":"7","latitude":"13.0056030000","longitude":"80.2573160000","real_city_name":"Chennai","locality_name":"Adyar"}},{"subzone":{"subzone_id":6104,"name":"Alandur","zone_id":6100,"city_id":"7","latitude":"13.0034710000","long[...]
- request:
    method: get
    uri: https://api.zomato.com/v1/cities?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Zomato-Api-Key:
      - 7749b19667964b87a3efc739e254ada2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"cities":[{"city":{"id":11,"name":"Ahmedabad","has_nightlife":0,"latitude":"23.0426620000","longitude":"72.5667290000","has_events":0,"has_cafes":0,"has_takeaway":0,"currency":"Rs.","country_id":1,"country_name":"India","use_miles":0,"show_zones":0,"citibank_discount":0,"cft_ranges":"{\"1\":{\"label\":\"0
        - 500\",\"min\":0,\"max\":500},\"2\":{\"label\":\"500 - 1000\",\"min\":500,\"max\":1000},\"3\":{\"label\":\"1000
        - 2000\",\"min\":1000,\"max\":2000},\"4\":{\"label\":\"2000 +\",\"min\":2000,\"max\":500000}}","filter_veg":1,"filter_credit_cards":1,"filter_buffet":1,"filter_happy_hours":0,"filter_wifi":1,"filter_breakfast":1,"filter_bar":0,"filter_no_bar":0,"filter_live_music":0,"filter_has_events":1,"filter_sheesha":0,"filter_outdoor_seating":1,"filter_halal":0,"filter_45_star":1,"filter_open_at":1,"filter_serves_veg":0,"filter_sports_bar":0}},{"city":{"id":4,"name":"Bangalore","has_nightlife":1,"latitude":"12.9716060000","longitude":"77.5943760000","has_events":0,"has_cafes":1,"has_takeaway":0,"currency":"Rs.","country_id":1,"country_name":"India","use_miles":0,"show_zones":0,"citibank_discount":1,"cft_ranges":"{\"1\":{\"label\":\"0
        - 500\",\"min\":0,\"max\":500},\"2\":{\"label\":\"500 - 1000\",\"min\":500,\"max\":1000},\"3\":{\"label\":\"1000
        - 2000\",\"min\":1000,\"max\":2000},\"4\":{\"label\":\"2000 +\",\"min\"[...]
- request:
    method: get
    uri: https://api.zomato.com/v1/search?city_id=7&format=json&subzone_id=6101
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Zomato-Api-Key:
      - 7749b19667964b87a3efc739e254ada2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"resultsFound":5,"resultsStart":0,"resultsShown":5,"delivery":3,"dineOut":4,"nightlife":0,"chillout":0,"takeaway":0,"all":5,"results":[{"result":{"id":"65614","name":"Wonton","address":"39,
        4th Street, Abhiramapuram, Chennai","locality":"Abhiramapuram","city":"Chennai","cuisines":"Asian,
        Chinese","distance_actual":0,"distance_friendly":"about 0 meters","rating_aggregate":3.7,"votes":56,"rating_color":"5BA829","rating_text":"Very
        Good","user_review_count":10,"rating_editor_overall":2.5,"cost_for_two":600,"has_discount":0,"has_citibank_discount":0,"latitude":13.031019,"longitude":80.254731,"has_menu":1,"has_bar":0,"is_pure_veg":0,"accepts_credit_card":1,"has_dine_in":1,"has_delivery":1,"has_coordinates":1,"image_470_310":"http:\/\/apac4.zmtnws.com\/data\/pictures\/4\/65614\/profile_thumb_470_310.jpg","image_310_310":"http:\/\/apac1.zmtnws.com\/data\/pictures\/4\/65614\/profile_thumb_310_310.jpg","image_310_150":"http:\/\/apac2.zmtnws.com\/data\/pictures\/4\/65614\/profile_thumb_310_150.jpg","image_150_150":"http:\/\/apac3.zmtnws.com\/data\/pictures\/4\/65614\/profile_thumb_150_150.jpg"}},{"result":{"id":"65107","name":"Carnival","address":"67,
        CP Ramaswamy Road, Abhiramapuram, Chennai","locality":"Abhiramapuram","city":"Chennai","cuisines":"Chinese,
        North Indian, Fast Food","distance_actual":0,"distance_friendly":"about 0
        meters","rating_aggregate":2.9,"votes":12,"rating_color":"EDD614","rating_text":"Average","user_review_count":3,"rating_editor_overall":2.5,"cost_for_two"[...]
[...]
- request:
    method: get
    uri: https://api.zomato.com/v1/search?city_id=7&format=json&subzone_id=6104
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Zomato-Api-Key:
      - 7749b19667964b87a3efc739e254ada2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"resultsFound":null,"resultsStart":0,"resultsShown":0,"delivery":null,"dineOut":null,"nightlife":null,"chillout":null,"takeaway":null,"all":null,"results":[]}'
  recorded_at: Sun, 09 Feb 2014 12:18:11 GMT
[...]
