<style>
  body{
    background-color: rgb(51,51,51);
    background-image: url('/images/landing_page_cover.jpg');
    background-size:100%;  
  }
  .jumbotron{
    margin-top:100px;
    position: relative;
  }
</style>
<div class="container home">
  <div class="jumbotron transparent center-align color-white emphasis">
    <h1>Find Restaurants Near You</h1>
    <input type="text" class="form-control-special" data-ng-model="query"/><br>
    <input type="button" class="btn btn-info btn-lg" value="Find" data-ng-click="find()"/>
    <input type="button" class="btn btn-lg" value="Explore"/>
  </div>
</div>
