<div class="hero" id="hero">
  <div class="container home">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <div class="jumbotron transparent center-align color-white emphasis">
          <input class="form-control transparent" 
                 placeholder="(eg) Find all the italian restaurants in adayar"
                 data-ng-model="query" />
          <hr />
          <center>
            <input type="button" class="btn btn-info btn-lg" 
                   value="{{xhrState.message}}"
                   data-ng-click="find()"
                   data-ng-disabled="xhrState.isWorking"/>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-ng-include="'views/partials/restaurants.html'">