// Place all the styles related to the graph controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.graph-table{
	td{
		height:30px;
		width:30px;
		background:black;
		opacity: 0.4;
		font-size: 15px;
		padding-left:7px;
		border: 1px solid #ccc;
	}
	td.present{
		background:rgba(49, 175, 84, 0.91);
		opacity:0.8;
		color: white;
	}	
	a{
		color: white;
	}
}